.body {
  height: calc(100vh - 6vh);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.about {
  text-align: center;
  display: grid;
  gap: 2rem;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #282c34;
    color: #fff;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #000000;
  }
  a {
    text-decoration: none;
    color: #000000;
    &:hover {
        filter: blur(1px)
    }
  }
  img {
    margin: 0 auto;
    width: 4rem;
    object-fit: cover;
    object-position: center;
    margin: auto;
    &:hover {
      filter: blur(2px)
    }
  }
}
