.rate {
  height: calc(100dvh - 7dvh);
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #282c34;
    color: #fff;
  }
  .cat-img-container {
    border-radius: 5px;
    padding: 1rem;
    min-height: 50%;
    margin: auto;
    .cat-img {
      width: 100%;
      height: auto;
      max-height: 60dvh;
      min-height: 50dvh;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
    }
  }
  .stars {
    display: block;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
